In [454]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [455]:
#count schools, students and sum budget
school_count = len(school_data_complete["school_name"].unique())
student_count = len(student_data["student_name"])
budget_sum = school_data["budget"].sum()

#convert strings to numbers
school_data_complete["math_score"] = pd.to_numeric(school_data_complete["math_score"])
school_data_complete["reading_score"] = pd.to_numeric(school_data_complete["reading_score"])

#calculate averages and total passes
math_avg = school_data_complete["math_score"].mean()
reading_avg = school_data_complete["reading_score"].mean()
math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70]
reading_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
both_pass = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]

#get percentages
math_cent = len(math_pass) / student_count
reading_cent = len(reading_pass) / student_count
passed_both_cent = len(both_pass) / student_count

district_summary_df = pd.DataFrame(
    {"Total Schools": [school_count],
     "Total Students": [student_count],
     "Total Budget": [budget_sum],
     "Average Math Score" :[math_avg],
     "Average Reading Score":[reading_avg],
     "% Passing Math":[math_cent * 100],
     "% Passing Reading":[reading_cent * 100],
     "% Overall Passing":[passed_both_cent * 100]
     }
)

district_summary_sdf = district_summary_df.style.format({"Total Students": "{:,.0f}",
                                                        "Total Budget": "${:,.2f}"})
district_summary_sdf

## School Summary

In [456]:
#take columns we need from overall data and store in new frame
school_sum = school_data_complete[["school_name","type","size","budget","math_score", "reading_score"]]
school_sum["Per Student Budget"] = school_data_complete["budget"] / school_data_complete["size"]

#value count the number of passing students and place into data frames
mpdf = math_pass["school_name"].value_counts().to_frame().reset_index().rename(columns={"index" : "school_name", 
                                                                                 "school_name" : "math_pass"})
rpdf = reading_pass["school_name"].value_counts().to_frame().reset_index().rename(columns={"index" : "school_name", 
                                                                                 "school_name" : "reading_pass"})
bpdf = both_pass["school_name"].value_counts().to_frame().reset_index().rename(columns={"index" : "school_name", 
                                                                                 "school_name" : "both_pass"})

#left join these dataframes together
merge_df = pd.merge(school_sum, mpdf, on="school_name", how="left")
merge_df["math_pass"] = (merge_df["math_pass"] / merge_df["size"]) * 100

merge_df = pd.merge(merge_df, rpdf, on="school_name", how="left")
merge_df["reading_pass"] = (merge_df["reading_pass"] / merge_df["size"]) * 100

merge_df = pd.merge(merge_df, bpdf, on="school_name", how="left")
merge_df["both_pass"] = (merge_df["both_pass"] / merge_df["size"]) * 100

#groupby to calculate the average math and reading scores, merge this into the table
x_group = merge_df.groupby(["school_name"]).agg({"math_score": "mean", "reading_score": "mean"})
x_group = x_group.reset_index().rename(columns={"math_score":"Average Math Score","reading_score":"Average Reading Score"})
groupmerge = pd.merge(merge_df,x_group, on="school_name", how="left").drop(columns=["math_score","reading_score"])

#move the schools into the index to match example, sort alphabetically
cleaned_ssdf = groupmerge.drop_duplicates().set_index("school_name")
cleaned_ssdf.index.name = None
cleaned_ssdf = cleaned_ssdf.sort_index()

#formatting of headers
cleaned_ssdf.columns = cleaned_ssdf.columns.astype("str")
cleaned_ssdf.columns = cleaned_ssdf.columns.str.title()
cleaned_ssdf.columns = cleaned_ssdf.columns.str.replace("_", " ")
cleaned_ssdf = cleaned_ssdf.rename(columns={"Type":"School Type",
                                            "Size":"Total Students",
                                            "Budget":"Total School Budget",
                                            "Math Pass":"% Passing Math",
                                            "Reading Pass":"% Passing Reading",
                                            "Both Pass":"% Overall Passing"})

school_summary_df = cleaned_ssdf[["School Type", 
                                 "Total Students", 
                                 "Total School Budget", 
                                 "Per Student Budget", 
                                 "Average Math Score", 
                                 "Average Reading Score", 
                                 "% Passing Math", 
                                 "% Passing Reading", 
                                 "% Overall Passing"]]


school_summary_sdf = school_summary_df.style.format({"Total School Budget": "${:,.2f}",
                                                        "Per Student Budget": "${:,.2f}"})

school_summary_sdf

C:\Users\James\AppData\Local\Temp/ipykernel_4132/1674069903.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_sum["Per Student Budget"] = school_data_complete["budget"] / school_data_complete["size"]

## Top Performing Schools (By % Overall Passing)

In [473]:
top_5_df = school_summary_df.sort_values(by="% Overall Passing", ascending=False)
top_5_df = top_5_df.iloc[:5,:]
top_5_sdf = top_5_df.style.format({"Total School Budget": "${:,.2f}",
                                                        "Per Student Budget": "${:,.2f}"})
top_5_sdf

## Bottom Performing Schools (By % Overall Passing)

In [476]:
bot_5_df = school_summary_df.sort_values(by="% Overall Passing", ascending=True)
bot_5_df = bot_5_df.iloc[:5,:]
bot_5_sdf = bot_5_df.style.format({"Total School Budget": "${:,.2f}",
                                                        "Per Student Budget": "${:,.2f}"})
bot_5_sdf